{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Courses</title>
</head>
<body>
    <h2>All Courses</h2>

    {% for course in courses %}
        <div>
            <p><strong>Title:</strong> {{ course.title }}</p>
            <p><strong>Description:</strong> {{ course.description }}</p>
            <p><strong>Learning Objectives:</strong> {{ course.objectives }}</p>
            <p><strong>Prerequisite Knowledge:</strong> {{ course.prerequisite }}</p>
            <p><strong>Intended Learners:</strong> {{ course.learners }}</p>
            <hr>
        </div>
    {% endfor %}
</body>
{% endblock %}
